.team-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.team-content{
    height: 18vh;
    width: 20%;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
}